<%- include("partials/header") -%>

<h1>NGOs working for the Change</h1>
<div class="row row-content">
  <div class="col-12 col-sm-11">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th>NGO Name</th>
            <th>Description</th>
            <th>State</th>
            <th>Contact</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>Khushiyaan Foundation</th>
            <td>Khushiyaan Foundation is extending its on-ground support by feeding people through their "Roti-Ghar"initiative.</td>
            <td>Andhra Pradesh, Assam, Chattisgarh, Delhi, Gujarat, Karnataka, Orissa, rajasthan, Maharashtra, Tamil Nadu, telengana, Tripura, Uttar Pradesh</td>
            <td>Email: infodesk@akshayapatra.org</td>
          </tr>
          <tr>
            <th>Breathe India</th>
            <td>A group of IIT alumni, in coordination with SaveLife foundation have started a fund collection drive for oxygen .concentrators to be setup in and around Delhi NCR region.</td>
            <td>Delhi, NCR</td>
            <td>Email: ashu95.ranka@gmail.com</td>
          </tr>
          <tr>
            <th>Concern India</th>
            <td>Concern India Foundation was set up in 1991 as a registered non-profit, public charitable trust to extend financial and non-financial support to grassroots level NGOs working in the areas of education, health and community development.</td>
            <td>Mumbai, New Delhi, Bengaluru, Chennai, Kolkata, Hyderabad</td>
            <td>Email: bangalore@concernindia.org // gaver.chatterjee@concernindia.org</td>
          </tr>
          <tr>
            <th>Hemkunt Foundation</th>
            <td>Gurugram based NGO working on 12+ projects from last 12 years for upliftment of underprivileged section of society. They are currently distributing Oxygen Cylinders to COVID-19 patients for free.</td>
            <td>Delhi NCR/Haryana</td>
            <td>Email: hemkuntfoundation13@gmail.com</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-12 col-sm-3">

  </div>
</div>

<%- include("partials/footer") -%>
