<%- include("partials/header") -%>

<div class="container-fluid">
  <blockquote class="blockquote">
    <p class="mb-0" id="quote">As long as you don't give up, you will improve and make this world a better place !</p>
  </blockquote>
</div>

<%- include("partials/footer") -%>
